* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.black-friday {
  background-color: #2f7875;
  max-width: 100%;
  height: 44px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.36px;
  border-radius: 55px;
  text-align: center;
}
.discount {
  padding: 11px;
  color: #fff;
  font-size: 15px;
}
.header-components {
  display: flex;
  justify-content: space-around;
  padding: 9px;
  cursor: pointer;
}
.navigations {
  display: inline-flex;
  column-gap: 27px;
  list-style: none;
  padding-top: 14px;
}
.header-icons {
  padding: 13px;
}
a {
  color: #000000;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
}
.people-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}
.card-icon {
  cursor: pointer;
  background: none;
  border: none;
}
svg {
  padding: 6px;
}
.shop-now {
  background-color: #fff;
  color: black;
  padding: 1.2rem 3.2rem;
  border-radius: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "system-ui";
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: medium;
  margin-bottom: 15px;
}
a.shop-btn {
  color: black;
  list-style: none;
}
/* sec-one-start */
.step-sec {
  display: flex;
}
.our-story-sec {
  display: flex;
  margin-top: 41px;
}
.performance-sec {
  display: flex;
  margin-top: 41px;
}
.quality-sec {
  display: flex;
  margin-top: 41px;
}
.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.step-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
}
.welcome {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
}
.our-story-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
}
.our-story-p {
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
}
.our-story-p-two {
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
  padding-top: 33px;
}
.our-story-p-three {
  font-size: 20px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
  padding-top: 33px;
}
.performance-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
}
.performance-p {
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
  padding-top: 33px;
}
.specialization-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
  margin-top: 31px;
}
.specialization-p {
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
  padding-top: 33px;
}
.quality-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
}
.quality-p {
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #676767;
  padding-top: 33px;
}
.future {
  font-size: 42px;
  width: 63%;
  margin: auto;
  font-weight: 500;
  line-height: 53.45px;
  text-align: center;
}
/* sec-one-end */
/* sec-two-start */
.c-p-sec-four {
  background-image: url(images/red-shoes-pic.png);
  background-size: cover;
}
.let-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
  color: #fff;
}
.cool-benefits {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.let {
  margin-top: 51px;
  padding: 45px;
}
.register {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 99px;
  padding: 8px;
  border-radius: 13px;
  border: none;
}
.let-btns {
  text-align: center;
  line-height: 65px;
}
.email-addres {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  width: 221px;
  padding: 6px;
  border-radius: 12px;
  background-color: transparent;
  color: #fff;
  border-color: aliceblue;
}
/* sec-two-end */

/* last-sec-start */
.homepage-last-section {
  background-color: black;
  color: #fff;
  max-width: 110%;
  padding: 14px;
  margin-top: 30px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  padding: 21px;
}
.second {
  list-style: none;
  line-height: 32px;
}
li {
  padding: 5px;
}
.flag {
  text-align: right;
  padding-right: 72px;
}
.stay {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 20px;
  font-weight: 300;
  line-height: 41.2px;
  text-align: right;
  color: lightgray;
}
.website-name {
  text-align: right;
  padding-right: 66px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 23px;
}

.policy {
  display: flex;
  gap: 82px;
  list-style: none;
}
/* last-sec-end */

@media screen and (max-width: 767px) {
  .navigations {
    display: none;
  }
  .discount {
    min-height: 4.2rem;
  }
  .img-one {
    max-width: 100%;
  }
  .step-sec {
    display: block;
  }
  .steps {
    margin-top: 5px;
  }
  .img-wearing-shoes {
    max-width: 100%;
  }
  .our-story {
    display: none;
  }
  .performance-sec {
    display: block;
  }
  .run-people {
    max-width: 100%;
  }
  .quality {
    display: none;
  }
  .future {
    font-size: 24px;
    width: 93%;
  }
  .homepage-last-section {
    display: block;
  }
  .shop {
    max-width: 100%;
    width: 100%;
  }
  .flex {
    display: block;
    max-width: 100%;
    text-align: center;
  }
}
