* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.black-friday {
  background-color: #2f7875;
  width: 98%;
  height: 44px;
  font-size: 16px;
  margin: auto;
  font-weight: 500;
  line-height: 19.36px;
  border-radius: 16px;
  margin-top: 5px;
  text-align: center;
}
.discount {
  padding: 11px;
  color: #fff;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
.navigations {
  display: inline-flex;
  column-gap: 22px;
  list-style: none;
  padding-top: 9px;
}
.header-icons {
  padding: 13px;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
}
.people-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}
.card-icon {
  cursor: pointer;
  background: none;
  border: none;
}
svg {
  padding: 6px;
}
/* Header-end */
/* sec-one-start */
.faqs-one {
  text-align: center;
  width: 790px;
  margin: auto;
  text-align: right;
}
.frequently-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
}
.frequently-p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  max-width: 88%;
  color: #676767;
  padding-top: 60px;
  text-align: center;
  margin: auto;
}
.plus {
  display: flex;
  margin-left: 358px;
}
.product-p {
  font-size: 20px;
  color: #676767;
  font-weight: 500;
  line-height: 29px;
  border-bottom: 1px solid black;
  text-align: right;
}
.stock-p {
  font-size: 20px;
  color: #676767;
  font-weight: 500;
  line-height: 29px;
  border-bottom: 1px solid black;
}
.r-p {
  font-size: 20px;
  color: #676767;
  font-weight: 500;
  line-height: 29px;
}
.cnfrm-p {
  font-size: 20px;
  color: #676767;
  font-weight: 500;
  line-height: 29px;
  border-bottom: 1px solid black;
}
.sold-p {
  font-size: 20px;
  color: #676767;
  font-weight: 500;
  line-height: 29px;
  border-bottom: 1px solid black;
}
.minus {
  display: flex;
  margin-left: 358px;
}
.restock-again {
  width: 89%;
  margin-left: 11%;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: right;
  color: #a0a0a0;
}

.product-heading {
  border-bottom: 1px solid black;

  font-size: 36px;
  font-weight: 500;
  line-height: 43.57px;
  margin-left: 30%;
  padding-top: 6%;
}
.order-heading {
  margin-left: 30%;
  font-size: 36px;
  font-weight: 500;
  line-height: 80.57px;
  border-bottom: 1px solid black;
}
.return {
  font-size: 36px;
  font-weight: 500;
  line-height: 57.57px;
  margin-left: 30%;
}
/* sec-one-end */
/* sec-two-start */
.c-p-sec-four {
  background-image: url(images/red-shoes-pic.png);
  background-size: cover;
}
.let-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
  color: #fff;
}
.cool-benefits {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.let {
  margin-top: 51px;
  padding: 45px;
}
.register {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 99px;
  padding: 8px;
  border-radius: 13px;
  border: none;
}
.let-btns {
  text-align: center;
  line-height: 65px;
}
.email-addres {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  width: 221px;
  padding: 6px;
  border-radius: 12px;
  background-color: transparent;
  color: #fff;
  border-color: aliceblue;
}
/* sec-two-end */

/* last-sec-start */
.homepage-last-section {
  background-color: black;
  color: #fff;
  max-width: 110%;
  margin-top: -13px;
  padding-top: 5%;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  padding: 21px;
}
ul {
  list-style: none;
  line-height: 32px;
}

li {
  padding: 5px;
}
.shop {
  margin-top: -4%;
}
.flag {
  text-align: right;
  padding-right: 85px;
}
.stay-in-the-loops {
  margin-top: -7%;
}
.stay {
  font-size: 20px;
  font-weight: 300;
  line-height: 47.2px;
  text-align: right;
  color: lightgray;
  border-bottom: 1px solid #fff;
}
.website-name {
  text-align: right;
  padding-right: 89px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 69px;
}
.tiktok-ig {
  margin-top: 1%;
}

.policy {
  display: flex;
  gap: 86px;
}
/* last-sec-end */
