* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* sec-one-start */
/* header */
.black-friday {
  background-color: #2f7875;
  width: 98%;
  height: 44px;
  font-size: 16px;
  margin: auto;
  font-weight: 500;
  line-height: 19.36px;
  border-radius: 16px;
  text-align: center;
  margin-top: 5px;
}
.discount {
  padding: 11px;
  color: #fff;
  font-size: 14px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
a {
  text-decoration: none;
}
.navigations {
  display: inline-flex;
  column-gap: 22px;
  list-style: none;
  padding-top: 9px;
}
.header-icons {
  padding: 13px;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
}
.people-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}
.card-icon {
  cursor: pointer;
  background: none;
  border: none;
}
svg {
  padding: 6px;
}
.shop-now {
  background-color: #fff;
  margin-top: 15px;
  margin-right: 6px;
  color: black;
  border-radius: 65.77px;
  border: 1px solid transparent;
  width: 125px;
  cursor: pointer;
  font-weight: lighter;

  padding: 19px;
  font-size: 15px;
}
.womens {
  background-image: url(images/women-socks-two.png);
  background-size: cover;
  text-align: right;
  padding: 36px;
  color: #fff;
}
.w-socks-heading {
  font-size: 96px;
  font-weight: 100;
  line-height: 116.18px;
}
.women-socks-para {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
}
.sub-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 32px;
}
.btn-svg {
  text-align: center;
}
.hidden {
  background-color: black;
  color: #fff;
  border-radius: 30px;
  width: 13%;
  height: 43px;
  text-align: center;
}
/* sec-four-start */
h1.best-seller {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: 300;
  line-height: 72.61px;
  text-align: center;
  padding: 22px;
}
.background-img {
  background-image: url(images/navy-blue-smallpics.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 297px;
  transition: transform 2s; /* Animation */
  height: 312px;
}
.background-img:hover {
  transform: scale(1.1);
}
.background-img-two {
  background-image: url(images/black-half-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 297px;
  transition: transform 2s;
  height: 312px;
}
.background-img-two:hover {
  transform: scale(1.1);
}
.background-img-three {
  background-image: url(images/full-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  transition: transform 2s;
  width: 284px;
  height: 318px;
}
.background-img-three:hover {
  transform: scale(1.1);
}
.background-img-four {
  background-image: url(images/navy-blue-smallpics.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  transition: transform 2s;
  width: 297px;
  height: 312px;
}
.background-img-four:hover {
  transform: scale(1.1);
}
.content {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-top: 8px;
}
.content-heading {
  font-weight: 100;
  line-height: 34.78px;
  text-align: right;
  font-size: 18px;
}
.content-ratting-star {
  display: flex;
  justify-content: flex-end;
  line-height: 36px;
  gap: 9px;
}
.review {
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  line-height: 21.78px;
}
.ratting-star {
  text-align: center;
  height: 18px;
}
.rate {
  font-size: 15px;
  font-weight: 600;
  line-height: 42.15px;
}
.quick-now {
  width: 95%;
  background-color: black;
  color: #fff;
  border: none;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.5em;
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;
}
.prices {
  display: flex;
  justify-content: flex-end;
  line-height: 42.15px;
  gap: 14px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
  font-size: 14px;
}
.current-price {
  color: green;
  font-weight: 100;
}

/* p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 21.78px;
  color: #323232;
}
.prices {
  display: flex;
  margin-left: 150px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
  font-size: 16px;
}
.current-price {
  color: green;
  margin-left: 13px;
  font-weight: 500;
} */
.selling-fast {
  background-color: blue;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  position: absolute;
  right: 30%;
}
.sale {
  background-color: green;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 13px;
  text-align: center;
  border: none;
  position: absolute;
  right: 64%;
}
.tardly-belly {
  position: relative;
}
img.grey-black-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  max-width: 282px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.grey-black-socks:hover + .quick-now {
  display: block;
}

img.grey-black-socks:hover {
  transform: translateY(9px);
}
img.black-red-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  max-width: 282px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.black-red-socks:hover + .quick-now {
  display: block;
}
img.black-red-socks:hover {
  transform: translateY(9px);
}
.seller-one {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 20px;
  text-align: right;
}
.new-collection {
  background-image: url(images/run-111.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20%;
  border-radius: 11px;
}
.new {
  font-size: 27px;
  font-weight: 500;
  line-height: 43.57px;
  margin-top: 296px;
  margin-right: 11px;
}
.collection {
  font-size: 13px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 14px;
  margin-right: 13px;
}
.show-more {
  background-color: black;
  color: #fff;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  width: 231px;
  height: 53px;
  margin-top: 5%;
}
.show {
  text-align: center;
}
/* sec-two-end */
/* last-sec-start */
.p-page-last-section {
  background-color: black;
  color: #fff;
  max-width: 110%;
  margin-top: -13px;
  padding-top: 5%;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  padding: 21px;
}
ul {
  list-style: none;
  line-height: 32px;
}

li {
  padding: 5px;
}
.shop {
  margin-top: -4%;
}
.flag {
  text-align: right;
  padding-right: 85px;
}
.stay-in-the-loops {
  margin-top: -7%;
}
.stay {
  font-size: 20px;
  font-weight: 300;
  line-height: 47.2px;
  text-align: right;
  color: lightgray;
  border-bottom: 1px solid #fff;
}
.website-name {
  text-align: right;
  padding-right: 89px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 69px;
}
.tiktok-ig {
  margin-top: 1%;
}

.policy {
  display: flex;
  gap: 86px;
}
/* last-sec-end */
.clean-results {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: right;
}
.result {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: black;
  border: none;

  padding: 5px;
}
.clean {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background-color: lightgray;
  border-radius: 18px;
  padding: 9px;
}
.length {
  padding: 20px;
}

.length-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: right;
  padding: 5px;
}
.length-list {
  border-bottom: 1px solid black;
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  line-height: 18.15px;
  text-align: right;
}
.colors {
  text-align: right;
  padding: 15px;
}
.colors-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  padding: 5px;
  text-align: right;
}
.color-one {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: end;
}
.flex-section {
  background-color: #fff;
  max-width: 24%;
  margin-left: 76%;
}
.seller-flex {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigations {
    display: none;
  }
  .discount {
    min-height: 4.2rem;
  }
  .womens {
    width: 100%;
    align-items: center;
  }
  .women-socks-para {
    display: none;
  }
  .sub-ul {
    display: none;
  }
  .hidden {
    padding: 10px 12px;
    font-size: 14px;
  }
  .seller-one {
    row-gap: 4rem;
  }
  .jockey-brightened {
    display: none;
  }
}
