* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* sec-one-start */
.black-friday {
  background-color: #2f7875;
  max-width: 100%;
  height: 44px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.36px;
  border-radius: 55px;
  text-align: center;
}
.discount {
  padding: 11px;
  color: #fff;
  font-size: 15px;
}
.header-components {
  display: flex;
  justify-content: space-around;
  padding: 9px;
  cursor: pointer;
}
.navigations {
  display: inline-flex;
  column-gap: 27px;
  list-style: none;
  padding-top: 14px;
}
.header-icons {
  padding: 13px;
}
a {
  color: #000000;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
}
.people-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}
.card-icon {
  cursor: pointer;
  background: none;
  border: none;
}
svg {
  padding: 6px;
}
.shop-now {
  background-color: #fff;
  color: black;
  padding: 1.2rem 3.2rem;
  border-radius: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "system-ui";
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: medium;
  margin-bottom: 15px;
}
a.shop-btn {
  color: black;
  list-style: none;
}
.womens {
  background-image: url(images/women-socks.png);
  /* background-size: cover; */
  text-align: right;
  padding: 36px;
  color: #fff;
}
.w-socks-heading {
  font-size: 96px;
  font-weight: 500;
  line-height: 116.18px;
}
.women-socks-para {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
}
.sub-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 32px;
}
.hidden {
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
}
/* sec-four-start */
h1.best-seller {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: 300;
  line-height: 72.61px;
  text-align: center;
  padding: 22px;
}

img.navy-socks {
  background-image: url(images/shope-page-rec.png);
  border-radius: 13px;
  max-width: 282px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.navy-socks:hover {
  transform: translateY(9px);
}
img.navy-socks:hover + .quick-now {
  display: block;
}

.quick-now {
  background-color: black;
  color: #fff;
  padding: 9px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  max-width: 192px;
  display: none;
}

p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 21.78px;
  color: #323232;
}
.prices {
  display: flex;
  margin-left: 150px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
  font-size: 16px;
}
.current-price {
  color: green;
  margin-left: 13px;
  font-weight: 500;
}
.selling-fast {
  background-color: blue;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  position: absolute;
  right: 30%;
}
.sale {
  background-color: green;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 13px;
  text-align: center;
  border: none;
  position: absolute;
  right: 64%;
}
.tardly-belly {
  position: relative;
}
img.grey-black-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  max-width: 282px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.grey-black-socks:hover + .quick-now {
  display: block;
}

img.grey-black-socks:hover {
  transform: translateY(9px);
}
img.black-red-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  max-width: 282px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.black-red-socks:hover + .quick-now {
  display: block;
}
img.black-red-socks:hover {
  transform: translateY(9px);
}
.seller-one {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 20px;
  text-align: right;
}
.new-collection {
  background-image: url(images/run-111.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20%;
  border-radius: 11px;
}
.new {
  font-size: 27px;
  font-weight: 500;
  line-height: 43.57px;
  margin-top: 296px;
  margin-right: 11px;
}
.collection {
  font-size: 13px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 14px;
  margin-right: 13px;
}
.show-more {
  background-color: black;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  max-width: 16%;
}
.show {
  text-align: center;
}
/* sec-two-end */
/* last-sec-start */
.p-page-last-section {
  margin-top: 3%;
  background-color: black;
  color: #fff;
  max-width: 110%;
  padding: 14px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  padding: 21px;
}
.second {
  list-style: none;
  line-height: 32px;
}
li {
  padding: 5px;
  list-style: none;
}
.flag {
  text-align: right;
  padding-right: 72px;
}
.stay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 41.2px;
  text-align: right;
  color: lightgray;
}
.website-name {
  text-align: right;
  padding-right: 66px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 23px;
}

.policy {
  display: flex;
  gap: 82px;
  list-style: none;
}
.clean-results {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: right;
}
.result {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: black;
  border: none;

  padding: 5px;
}
.clean {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background-color: lightgray;
  border-radius: 18px;
  padding: 9px;
}
.length {
  padding: 20px;
}

.length-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: right;
  padding: 5px;
}
.length-list {
  border-bottom: 1px solid black;
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  line-height: 18.15px;
  text-align: right;
}
.colors {
  text-align: right;
  padding: 15px;
}
.colors-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  padding: 5px;
  text-align: right;
}
.color-one {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: end;
}
.flex-section {
  background-color: #fff;
  max-width: 24%;
  margin-left: 76%;
}
.seller-flex {
  display: flex;
}
