/* Page-Start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* sec-one-start */
header {
  background-image: url(images/Mask\ group.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0px 0px 29px 29px;
  padding: 15px 5px 5px 5px;
}
.black-friday {
  background-color: #2f7875;
  width: 98%;
  height: 44px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin: auto;
  font-weight: 500;
  line-height: 19.36px;
  border-radius: 16px;

  text-align: center;
}
.discount {
  padding: 11px;
  color: #fff;
  font-size: 14px;
}

.right-to-run {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 83px;
  color: #fff;
}
.run {
  font-size: 24px;
  font-weight: 500;
  width: 48%;
  color: #fff;
  line-height: 36px;
  margin-left: 51%;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
.navigations {
  display: inline-flex;
  column-gap: 22px;
  list-style: none;
  padding-top: 9px;
}
.header-icons {
  padding: 13px;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
}
.people-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}
.card-icon {
  cursor: pointer;
  background: none;
  border: none;
}
svg {
  padding: 6px;
}
.shop-now {
  background-color: #fff;
  margin-top: 15px;
  margin-right: 6px;
  color: black;
  border-radius: 65.77px;
  border: 1px solid transparent;
  width: 125px;
  cursor: pointer;
  font-weight: lighter;

  padding: 19px;
  font-size: 15px;
}
a.shop-btn {
  color: black;
  list-style: none;
}
.title-one {
  text-align: right;
  margin-top: 181px;
  margin-right: 11px;
}
/* sec-one-end */

/* sec-two-start */
h2.category {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 25.61px;
  text-align: center;
  padding: 60px;
}
.pic-one {
  background-image: url(images/backgroung\ img\ pic-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 289px;
  height: 437px;
  border-radius: 12px;
}
.run-shoes {
  color: #fff;
  font-size: 27px;
  text-align: center;
}
.arrow {
  border-radius: 20px;
  width: 94px;
  background-color: #e8e8e833;
  border-color: #fff;
  padding: 13px;
}
.full-socks {
  text-align: center;
  padding-top: 184px;
  line-height: 94px;
}
.pic-two {
  background-image: url(images/black-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 289px;
  height: 437px;
  border-radius: 12px;
}
.black-socks {
  text-align: center;
  padding-top: 184px;
  line-height: 94px;
}
.pic-three {
  background-image: url(images/greyish-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 289px;
  height: 437px;
  border-radius: 12px;
}
.greyish-socks {
  text-align: center;
  padding-top: 184px;
  line-height: 94px;
}
.pic-four {
  background-image: url(images/blue-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 289px;
  height: 437px;
  border-radius: 12px;
}
.blue-socks {
  text-align: center;
  padding-top: 184px;
  line-height: 94px;
}

.shoes-flexx {
  display: flex;
  justify-content: space-evenly;
}

/* .swiper {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
} */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* .slider {
  display: flex;
  gap: 2%;
  justify-content: space-evenly;
} */
/* sec-two-end */

/* sec-three-start */
.homepage-third-sec {
  padding: 78px 0px 60px 0px;
}

.flex-two {
  display: flex;
  justify-content: center;
}
.category-img {
  position: relative;
}
.image-two {
  border-radius: 32px;
  transform: rotate(6deg);
  margin-left: 48px;
}

.image-one {
  position: absolute;
  left: 10%;
  border-radius: 32px;
  transform: rotate(9deg);
  z-index: -1;
}
.image-three {
  position: absolute;
  left: 11%;
  z-index: 1;
  border-radius: 32px;
  transform: rotate(-6deg);
}
ul.act {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 72.61px;
  text-align: left;
  padding-left: 265px;
}
a {
  color: black;
  text-decoration: none;
}
/* sec-three-end */

/* sec-four-start */
h2.best-seller {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: 300;
  line-height: 184.61px;
  text-align: center;
}
.background-img {
  background-image: url(images/navy-blue-smallpics.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 297px;
  transition: transform 2s; /* Animation */
  height: 312px;
}
.background-img:hover {
  transform: scale(1.1);
}

.background-img-two {
  background-image: url(images/black-half-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 297px;
  transition: transform 2s;
  height: 312px;
}
.background-img-two:hover {
  transform: scale(1.1);
}
.background-img-three {
  background-image: url(images/full-socks.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  transition: transform 2s;
  width: 284px;
  height: 318px;
}
.background-img-three:hover {
  transform: scale(1.1);
}
.background-img-four {
  background-image: url(images/navy-blue-smallpics.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  border-radius: 10px;
  transition: transform 2s;
  width: 297px;
  height: 312px;
}
.background-img-four:hover {
  transform: scale(1.1);
}
/* .background-img-four:hover + .quick-now {
  display: block;
  transform: translateY(2px);
} */

.content {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-top: 8px;
}
.content-heading {
  font-weight: 100;
  line-height: 34.78px;
  text-align: right;
  font-size: 18px;
}
.content-ratting-star {
  display: flex;
  justify-content: flex-end;
  line-height: 36px;
  gap: 9px;
}
.review {
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  line-height: 21.78px;
}
.ratting-star {
  text-align: center;
  height: 18px;
}
.rate {
  font-size: 15px;
  font-weight: 600;
  line-height: 42.15px;
}

.quick-now {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  background-color: black;
  color: #fff;
  border: none;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  margin-left: 0.5em;
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;

  /* background-color: black;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%); */
}
.prices {
  display: flex;
  justify-content: flex-end;
  line-height: 42.15px;
  gap: 14px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
  font-size: 14px;
}
.current-price {
  color: green;
  font-weight: 100;
}
.selling-fast {
  background-color: blue;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  position: absolute;
  margin-top: 10px;
  right: 30%;
}
.sale {
  background-color: green;
  padding: 9px;
  color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 13px;
  text-align: center;
  border: none;
  position: absolute;
  margin-top: 10px;
  right: 64%;
}

/* .tardly-belly {
  position: relative;
}
img.grey-black-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  width: 236px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.grey-black-socks:hover + .quick-now {
  display: block;
} */

/* img.grey-black-socks:hover {
  transform: translateY(9px);
}
img.black-red-socks {
  background-image: url(images/rectangular.png);
  border-radius: 13px;
  width: 236px;
  height: 306px;
  transition: 0.9s ease-out;
}
img.black-red-socks:hover + .quick-now {
  display: block;
}
img.black-red-socks:hover {
  transform: translateY(9px);
}
img.sky-blue-socks {
  background-image: url(images/navy-blue-smallpics.png);
  border-radius: 13px;
  width: 236px;
  height: 306px;
  transition: 0.9s ease-out;
  width: 294px;
  height: 303px;
} */

/* img.sky-blue-socks:hover + .quick-now {
  display: block;
}
img.sky-blue-socks:hover {
  transform: translateY(9px);
} */
.seller-one {
  display: flex;
  cursor: pointer;
  text-align: right;
  justify-content: space-evenly;
}
/* sec-four-end */

/* sec-five-start */
h1.discover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 72.61px;
  text-align: center;
  padding: 52px;
}

.card-column {
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
}
/* sec-five-end */

/* sec-six-start */
.homepage-six-section {
  background-color: #fff;
}

.rating {
  display: flex;
  cursor: pointer;
}
.reviews-rating {
  position: relative;
  top: -55%;
}
h1.reviews {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 77.45px;
  text-align: right;
  position: relative;
  top: -51%;
  left: -10%;
}

.green-box {
  background-color: #4ab3aa;
  border-radius: 20px;
  max-width: 45%;
  position: relative;
  top: -499px;
  left: 159px;
}
.green-box-two {
  background-color: #4ab3aa;
  border-radius: 20px;
  max-width: 45%;
  position: relative;
  top: -479px;
  left: 159px;
}

.green {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  text-align: right;
  padding: 4px;
}
.review-stars {
  margin-left: 72%;
}
/* sec-six-end */

/* sec-seven-start */
.proud-israel {
  margin-left: 22%;
}
.made-israel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 42.5px;
  text-align: center;
  max-width: 61%;
  margin: auto;
  padding: 29px;
}
/* sec-seven-end */

/* sec-eight-start */
.homepage-eight-section {
  background-color: black;
}
.slider-two {
  justify-content: space-evenly;
  display: flex;
}
.mini-sec {
  text-align: right;
  position: relative;
  top: -120px;
  left: -14px;
  padding: 5px;
}
h1.story-that-move {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  color: #fff;
  padding: 49px;
}
.mini-para {
  color: #ffff;
  text-align: right;
  padding: 6px;
}
/* sec-eight-end */

/* sec-nine-start */
.company-logo {
  display: flex;
  gap: 9%;
  padding: 21px;
  justify-content: space-evenly;
}
/* sec-nine-end */

/* sec-ten-start */
.our-missions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  text-align: right;
  padding: 5px;
  position: relative;
  top: -141px;
  left: -20px;
}
.ten-img {
  text-align: right;
}
.mission {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 10px;
  text-align: right;
  color: #fff;
}
.inspire {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: right;
  color: #fff;
}
.two-images {
  display: flex;
  gap: 10px;
  padding: 13px;
}
.two-images {
  margin-top: -550px;
}

.write {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 38.73px;
  color: #fff;
  text-align: right;
  position: relative;
  top: -15%;
  left: -9px;
}
.tenis-img {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 38.73px;
  color: #fff;
  position: relative;
  top: -53px;
  left: -9px;
  text-align: right;
}
/* sec-ten-end */

/* last-sec-start */
.homepage-last-section {
  background-color: black;
  color: #fff;
  margin-top: -68px;
  max-width: 110%;
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  padding: 21px;
}
ul {
  list-style: none;
  line-height: 32px;
}

li {
  padding: 5px;
}
.flag {
  text-align: right;
  padding-right: 72px;
}
.stay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 41.2px;
  text-align: right;
  color: lightgray;
}
.website-name {
  text-align: right;
  padding-right: 66px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 23px;
}

.policy {
  display: flex;
  gap: 82px;
}
/* last-sec-end */
/* Page Complete */

/* Mobile */

@media screen and (max-width: 767px) {
  .navigations {
    display: none;
  }
  .seller-one {
    display: flex;
    flex-direction: column;
  }
  .header {
    background-image: url(images/Mask\ group.png);
    width: 100%;
  }
  .title-one {
    text-align: center;
  }
  .run {
    max-width: 100%;
    margin: auto;
  }
  /* second-sec */
  h1.category {
    text-align: center;
    font-size: 35px;
    padding-right: 1px;
  }
  .shoes-flexx {
    display: block;
  }
  .socks-background-img {
    margin-left: 25%;
  }
  .background-img-two {
    margin-left: 25%;
  }
  .background-img-three {
    margin-left: 25%;
  }

  .slider {
    display: flex;
    flex-direction: column;
    padding: 2.6rem 2.6rem 5rem;
    max-width: 100%;
  }
  .activities {
    display: block;
    max-width: 100%;
    margin-bottom: 1.4rem;
    text-align: right;
  }
  h2.best-seller {
    text-align: center;
  }
  .card-column {
    gap: 19px;
  }
  .rating {
    display: block;
    width: 100%;
    margin: auto;
  }
  .unfiltered {
    width: 100%;
    margin: auto;
  }
  .proud-israel {
    text-align: center;
  }
  .made-israel {
    max-width: 100%;
    margin: auto;
  }
  .company-logo {
    display: block;
  }
  .two-images {
    display: none;
  }
  .ten-img {
    max-width: 100%;
    margin: auto;
  }
  .flex {
    display: block;
    max-width: 100%;
    text-align: center;
  }
}
